.rgab{
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 520;
    margin-top: -15px;
}

.adic{
    display: flex;
    height:320px;
    width: 60%;
    /* border: 1px solid grey; */
    margin: auto;
    margin-top:70px;
}

.adic>div{
    display: flex;
}

.adic>div>div{
    height: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    font-family: Helvetica;
    width: 260px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.adic>div>div:hover{
    border: 2px solid blue;
    cursor: pointer;
}

.adic>div>div:nth-child(2){
    margin-left:50px;
}

.adic>div>div:nth-child(3){
    margin-left:50px;
}

.rgacbtn{
    border: 0px;
    width: 95%;
    height: 30px;
    font-size:16px;
    border-radius:10px;
    color: white;
    background-color:blue;
}